Здравствуйте, {{имя}} {{фамилия}}! Наша компания обратила внимание, что вы занимались поставками позиции "{{товар}}" на сумму {{цена}} руб в {{год}} году, нам было бы интересно оформить закурпу "{{товар}}".