Здравствуйте, {{имя}} {{фамилия}}! Наша компания обратила внимание, что вы занимались поставками позиции "{{товар}}" на сумму {{цена}} руб в {{год}} году, в данный момент нас очень интересует эта позиция, предлагаем обсудить условия контракта!

С уважением, Росатом!